body{
  margin:0;
}
h1 {
  font-size:45px;
  text-align:center;
  border-bottom:1px solid black;
  margin:0;
  padding:20px;
}
ul {
  border-right:1px solid black;
  width:200px;
  margin:0;
}
#grid{
  display: grid;
  grid-template-columns: 300px 1fr;
}
@media(max-width:850px){
  #grid{
    display: block;
  }
  ul {
    border-right:none;
  }
}
